@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bg-color:rgb(36, 138, 255);
$border-color:rgb(0, 88, 189);
$fill-color:rgb(0, 119, 255);
$color-white:#fff;

html {
  font-size: 0.625rem;
}

body {
  background-color: $bg-color;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

h1 {
  margin: 1rem 0 0;
  font-size: 2.5rem;
}


h3 {
  font-weight: 400;
  margin: 1rem 0;
  font-size: 1.8rem;
}

.cup {
  background-color: #fff;
  border: 4px solid $border-color;
  margin-bottom: 1rem;
  color: $border-color;
  border-radius: 0 0 4rem 4rem;
  height: 30rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &.small-cup {
    width: 5rem;
    height: 10rem;
    border-radius: 0 0 1rem 1rem;
    background-color: rgba($color-white, .9);
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
    transition: .3s ease;

    &.full {
      color: white;
      background-color: $fill-color;
    }
  }
}

.cups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 28rem;

}


.remained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  span {
    font-size: 2rem;
    font-weight: bold;
  }

  small {
    font-size: 1.2rem;
  }
}

.presentage {
  background-color: $fill-color;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: .3s ease;  
}

.text {
  margin: 0 0 .5rem;
  text-align: center;
}